@font-face {
	font-family: 'Pe-icon-7-stroke';
	src:url('../fonts/Pe-icon-7-strokebb1d.eot?d7yf1v');
	src:url('../fonts/Pe-icon-7-stroked41d.eot?#iefixd7yf1v') format('embedded-opentype'),
		url('../fonts/Pe-icon-7-strokebb1d.woff?d7yf1v') format('woff'),
		url('../fonts/Pe-icon-7-strokebb1d.ttf?d7yf1v') format('truetype'),
		url('../fonts/Pe-icon-7-strokebb1d.svg?d7yf1v#Pe-icon-7-stroke') format('svg');
	font-weight: normal;
	font-style: normal;
}
